/* $
circle-size: 120px ; $circle-background: #D9D9D9 ; $circle-color: #1291D4 
	; $inset-size: 105px ; $inset-color: #fbfbfb ; $transition-length: 1s 
	; */
.ko-progress-circle {
	margin: 20px auto;
	width: 120px;
	height: 120px;
	background-color: #D9D9D9;
	border-radius: 50%; 
}
	
. ko-progress-circle__slice ,
	.ko-progress-circle__fill { width : 120px;
	height: 120px;
	position: absolute;
	-webkit-backface-visibility: hidden;
	transition: transform 1s;
	border-radius: 50%;
}

.ko-progress-circle__slice {
	clip: rect(0px, 120px, 120px, 120px/ 2); . ko-progress-circle__fill {
	clip : rect( 0px, 120px/ 2, 120px, 0px);
	background-color: #1291D4;
}

.ko-progress-circle__overlay {
	width: 105px;
	height: 105px;
	position: absolute;
	margin-left: (120px- 105px)/2;
	margin-top: (120px- 105px)/2;
	background-color: #fbfbfb;
	border-radius: 50%;
}

.ko-progress-circle__slice.full, .ko-progress-circle__fill {
	transform: rotate(( 180deg/ 100)* 0);
}

.ko-progress-circle__fill.ko-progress-circle__bar {
	transform: rotate(( 180deg/ 100)* 0* 2);
}